<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">

    <h1>Cars</h1>

    <table class="table">
        <thead class="thead-dark">
          <tr>
              <th>Make</th>
              <th>Model</th>
              <th>MPG</th>
          </tr>
        </thead>

        <tr th:each="car : ${cars}">
            <td th:text="${car.make}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.milesPerGallon}"></td>
        </tr>
    </table>

</div>

</body>

</html>